In [155]:
import pandas as pd
import numpy as np
import random

In [156]:
data = pd.DataFrame(columns = ['Cyclone Id','City','Date','Temperature','Latitude','Longitude', 'Wind','Altitude','Magnitude'], index = np.arange(100))

In [157]:
data['Cyclone Id'] = list(range(100))
cities = ['Chimanimani', 'Mutare', 'Buhera', 'Chipinge', 'Binga', 'Harare']
data['City'] = random.sample(cities,5)*20
dates = pd.date_range(start='1900-01-01', periods = 100, freq='Y')
data['Date'] = np.array(dates)
data['Temperature'] = np.random.randint(5,40,100)
data['Latitude'] = np.random.randint(18,60,100)
data['Longitude'] = np.random.randint(18,60,100)
data['Wind'] = np.random.randint(0,360,100)
data['Altitude'] = np.random.randint(1000,5000,100)
data['Magnitude'] = np.random.randint(1,5,100)

In [158]:
data.head()

,Cyclone Id,City,Date,Temperature,Latitude,Longitude,Wind,Altitude,Magnitude
0,0,Harare,1900-12-31,34,18,38,44,2818,4
1,1,Chimanimani,1901-12-31,16,46,20,305,2386,3
2,2,Mutare,1902-12-31,13,48,38,252,1449,1
3,3,Buhera,1903-12-31,6,51,23,186,3504,3
4,4,Chipinge,1904-12-31,32,24,27,338,3339,3

In [162]:
Cyclone_Data = data.to_csv('data.csv')